.grid-inside {
  border: 4px solid #00ffd5;
}
.grid-inside > .grata-cell {
  font-size: 2rem;
  color: white;
  background-color: #ff7204;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-outside {
  border: 4px solid #ff005b;
}

.grid-outside > .cell {
  background-color: #fffca6;
  padding: 1rem;
}

.grata-cell {
  border: 2px dashed #ffffff;
}
.cell {
  border: 2px dashed #a6a6a6;
}
.footer {
  background-color: #ff005b;
}
